@model IEnumerable<BlackCatList.Web.Models.UserListViewModel>

@{
    ViewBag.Title = "Users";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/datatables.css" />
}

<h2>@ViewBag.Title</h2>

<table class="table table-hover responsive nowrap initializing">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>

                    @Html.ActionLink("Manage Roles", "ManageRoles", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/Scripts/datatables.bundle.js"></script>
}