@model BlackCatList.Web.Models.People.PersonViewModel
@{
    ViewBag.Title = "Details for " + Model.Name;
}

<h2>Details</h2>

<div class="row">
    <div class="col-sm-3">
        <h1 id="image" class="hidden-xs">&nbsp;</h1>
        <p class="visible-xs"></p>
        @Html.Partial("_Image")
    </div>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">
                    @Model.Name @if (Model.CreatedBy == User.Identity.GetUserName() || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default">Edit</a>
                    }
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <i class="glyphicon glyphicon-map-marker"></i>
                @if (Model.Street != null)
                {
                    <span>@Model.Street, </span>
                }
                @if (Model.City != null)
                {
                    <span>@Model.City, </span>
                }
                <span>@Model.Country</span>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-6">
                @if (Model.Age != null)
                {
                    <p title="Age">
                        <i class="glyphicon glyphicon-calendar"></i>
                        <span>@Model.Age years old</span>
                    </p>
                }

                @if (Model.Email != null)
                {
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:@Model.Email" title="Send Email">
                            @Model.Email
                        </a>
                    </p>
                }

                @if (Model.Phone != null)
                {
                    <p title="Phone">
                        <i class="glyphicon glyphicon-phone"></i>
                        <a href="tel:@Model.Phone" title="Call">
                            @Model.Phone
                        </a>
                    </p>
                }
            </div>
            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {
                <div class="col-sm-6">
                    <strong>Created By</strong>
                    <p title="Created">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>@Model.CreatedBy</span>
                    </p>

                    <p title="Created On">
                        <i class="glyphicon glyphicon-time"></i>
                        <span>@Model.CreatedOn</span>
                    </p>


                    <strong>Modified By</strong>
                    <p title="Modified">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>@Model.ModifiedBy</span>
                    </p>

                    <p title="Modified On">
                        <i class="glyphicon glyphicon-time"></i>
                        <span>@Model.ModifiedOn</span>
                    </p>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-12 keep-line-breaks">@Model.Comment</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>

    <div class="col-sm-9">

    </div>
</div>
