@model BlackCatList.Web.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Black Cat List</h1>
    <p class="lead">A website dedicated to providing useful information to per owners.</p>
    <p>You can create records of animal organizations so that others can see and rate them.</p>
    <p><a href="@Url.Action("Create", "Organizations")" class="btn btn-primary btn-lg">Add entry &raquo;</a></p>
</div>

<h2>Top organizations</h2>

<div class="row">
    @foreach (var item in Model.Organizations)
    {
        <div class="col-xs-6 col-md-3">
            <a href="@Url.Action("Details", "Organizations", new { id = item.Id })" class="thumbnail">
                @Html.Partial("_Image", item)
                <div class="caption">
                    <h3>@item.Name</h3>
                    <h4>@item.Category</h4>
                    <p>
                        <span class="label label-@(item.Rating >= 3.5 ? "success" : item.Rating >= 2.5 ? "warning" : "danger")">
                            <span class="glyphicon glyphicon-star"></span>
                            @item.Rating.ToString("0.#") / 5
                        </span>
                        &nbsp;
                        @if (item.City != null)
                        {
                            <span>@item.City &laquo;</span>
                        }
                        <span>@item.Country</span>
                    </p>
                </div>
            </a>
        </div>
    }
</div>