@model BlackCatList.Web.Models.Organizations.OrganizationViewModel

@{
    ViewBag.Title = "Details for " + Model.Name;
}

<div class="row">
    <div class="col-sm-3">
        <h1 id="image" class="hidden-xs">&nbsp;</h1>
        <p class="visible-xs"></p>
        @Html.Partial("_Image")
    </div>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">
                    @Model.Name @if (Model.CreatedBy == User.Identity.GetUserName() || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default">Edit</a>
                    }
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="label label-primary">
                    @Model.Category
                </span>
                &nbsp;
                <i class="glyphicon glyphicon-map-marker"></i>
                @if (Model.Street != null)
                {
                    <span>@Model.Street &laquo;</span>
                }
                @if (Model.City != null)
                {
                    <span>@Model.City &laquo;</span>
                }
                <span>@Model.Country</span>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <p>
                    @if (Model.ReviewsCount > 0)
                    {
                        <span class="label label-@(Model.Rating >= 3.5 ? "success" : Model.Rating >= 2.5 ? "warning" : "danger")">
                            <span class="glyphicon glyphicon-star"></span>
                            @Model.Rating / 5
                        </span>
                        @: &nbsp;
                        <span>@Model.ReviewsCount review(s)</span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-star"></span>
                        <i>There are no reviews yet</i>
                    }
                </p>

                @if (Model.Email != null)
                {
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:@Model.Email" title="Send Email">
                            @Model.Email
                        </a>
                    </p>
                }

                @if (Model.Phone != null)
                {
                    <p title="Phone">
                        <i class="glyphicon glyphicon-phone"></i>
                        <a href="tel:@Model.Phone" title="Call">
                            @Model.Phone
                        </a>
                    </p>
                }
            </div>@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <strong>Created By</strong>
                        </div>

                        <div class="col-sm-7 col-md-8">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@Model.CreatedBy</span>
                            <br />
                            <i class="glyphicon glyphicon-time"></i>
                            <span>@Model.CreatedOn</span>
                        </div>
                    </div>

                    @if (Model.CreatedBy != Model.ModifiedBy || Model.CreatedOn != Model.ModifiedOn)
                    {
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <strong>Modified By</strong>
                            </div>

                            <div class="col-sm-7 col-md-8">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>@Model.ModifiedBy</span>
                                <br />
                                <i class="glyphicon glyphicon-time"></i>
                                <span>@Model.ModifiedOn</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="row">
            <p class="col-md-12 keep-line-breaks">@Model.Description</p>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_BackLink")
    </div>

    <div class="col-sm-9">
        @Html.Partial("_ReviewForm", new BlackCatList.Web.Models.Organizations.ReviewViewModel
   {
       OrganizationId = Model.Id
   })

        @foreach (var item in Model.Reviews)
        {

            <div class="media">
                <div class="media-left">
                    @Html.Partial("_Image", item)
                </div>
                <div class="media-body">
                    <p>
                        <span class="label label-@(item.Rating >= 4 ? "success" : item.Rating >= 3 ? "warning" : "danger")">
                            <span class="glyphicon glyphicon-star"></span>
                            @item.Rating / 5
                        </span>
                    </p>
                    <p>
                        <i class="glyphicon glyphicon-user"></i>
                        <span>&nbsp; @item.CreatedBy</span>
                    </p>
                    <p>@item.Comment</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/form.bundle.js"></script>
}