@model BlackCatList.Web.Models.Organizations.OrganizationsViewModel

@{
    ViewBag.Title = "Details for " + Model.Name;
}

<div class="row">
    <div class="col-sm-3">
        <h1 id="image" class="hidden-xs">&nbsp;</h1>
        <p class="visible-xs"></p>
        @Html.Partial("_Image")
    </div>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-md-12">
                <h1 id="title">
                    @Model.Name @if (Model.CreatedBy == User.Identity.GetUserName() || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default">Edit</a>
                    }
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="label label-primary">
                    @Model.Category
                </span>
                &nbsp;
                <i class="glyphicon glyphicon-map-marker"></i>
                @if (Model.Street != null)
                {
                    <span>@Model.Street, </span>
                }
                @if (Model.City != null)
                {
                    <span>@Model.City, </span>
                }
                <span>@Model.Country</span>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-6">
                <p>
                    <span class="label label-success">61</span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>

                @if (Model.Email != null)
                {
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <a href="mailto:@Model.Email" title="Send Email">
                            @Model.Email
                        </a>
                    </p>
                }

                @if (Model.Phone != null)
                {
                    <p title="Phone">
                        <i class="glyphicon glyphicon-phone"></i>
                        <a href="tel:@Model.Phone" title="Call">
                            @Model.Phone
                        </a>
                    </p>
                }
            </div>
            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Created By</strong>
                        </div>

                        <div class="col-sm-8">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@Model.CreatedBy</span>
                            <br />
                            <i class="glyphicon glyphicon-time"></i>
                            <span>@Model.CreatedOn</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Modified By</strong>
                        </div>

                        <div class="col-sm-8">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@Model.ModifiedBy</span>
                            <br />
                            <i class="glyphicon glyphicon-time"></i>
                            <span>@Model.ModifiedOn</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <p class="col-md-12 keep-line-breaks">@Model.Description</p>
        </div>
    </div>
</div>
<p>
    @Html.Partial("_BackLink")
</p>
